.card img{
    height: 60px;
    width: 60px;
}

.card{
    /* border: 1px solid black; */
    box-shadow: 5px 5px 15px rgb(215, 213, 213);
    height: 180px;
    width: 180px;
    margin-top: 10px;
}

.card h2{
    font-size: 15px;
}

.card p {
    font-size: 12px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}